{% extends "layout.html" %} {% block content %}

<h2>Add New Task</h2>

<form method="POST" action="/add" class="mt-4">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Category</label>
    <select name="category" class="form-select">
      <option value="task">Task</option>
      <option value="project">Projects</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Status</label>
    <select name="status" class="form-select">
      <option value="pending">Pending</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
      <option value="backlog">Backlog</option>
    </select>
  </div>

  <button class="btn btn-success">Add Task</button>
</form>

{% endblock %}
